

body{background-color: #040833;}

h1 {color: #eb1810;
    font-family: 'Jersey 15', serif;
    font-size: 600%;
    font-weight: 500;
    text-align: center;
    
}

a.button_text{
    color: #eb1810;
    background-color: #e6e4e4;
    padding: 10px;
    border: 10px solid #eb1810;
    height: 60px;
    width: 300px;
    font-family: 'Jersey 15', serif;
    font-size: 400%;
    font-weight: 90;
    position: absolute;
    /*margin-left: 100px;
    margin-top: 300px;
    text-align: center;*/
    line-height: 50px;
}

a.button_text:hover{
    color: #e6e4e4;
    background-color: #eb1810;
    padding: 10px;
    border: 10px solid #e6e4e4;
    height: 60px;
    width: 300px;
    font-family: 'Jersey 15', serif;
    font-size: 400%;
    font-weight: 90;
    position: absolute;
    /*margin-left: 100px;
    margin-top: 300px;
    text-align: center;*/
    line-height: 50px;
}

a.home{
    color: #ede4df;
    font-family: 'Jersey 15', serif;
    font-size: 200%;
    font-weight: 100;
    text-decoration: underline;
    
    position: absolute;
    margin-top: 400px;
    margin-left: 650px ;
}
a.home:hover{
    color: #eb1810;
}



/**

a.racer_profile{
    color: #eb1810;
    background-color: #e6e4e4;
    padding: 5px;
    border: 5px solid #eb1810;
    height: 100px;
    width: 500px;
    font-family: 'Jersey 15', serif;
    font-size: 150%;
}

a.racer_profile:hover{
    color: #e6e4e4;
    background-color: #eb1810;
    padding: 5px;
    border: 5px solid #e6e4e4;
    height: 100px;
    width: 300px;
    font-family: 'Jersey 15', serif;
    font-size: 150%;
    font-weight: 90;
}

.racer_image{
    width: 100px;
    height: 100px;
    /*color: #eb1810;
    background-color: #e6e4e4;
    padding: 5px;
    border: 5px solid #eb1810;
    position: absolute; 

.racer_image img {
    width: 100%;
    height: auto;
}

**/




/*IMAGE CAROUSEL
REFERENCE: https://www.w3schools.com/howto/howto_js_slideshow.asp */


/* Slideshow container */
.slideshow-container {
    max-width: 800px;
    position: relative;
    margin: auto
}

.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
